* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  background: #37474F;
}

#game {
  display: table-cell;
  vertical-align: middle;
}

#game canvas {
  margin: 0 auto;
}
